.App{

}
.content{
 display: flex;
 flex-direction: column;
 margin: 0.5vw;
}
.navbar{
  background-color: black;
}
.toolbar{
width: auto;
/* display:flex;
flex-direction: row;
justify-content:flex-start; */
}
.logoContainer:{

}
.logo{
  width: 50%;
  
}
.title{
}
.radio{
  background-color: black;
}
.input-container{
  display: flex;
  justify-content: space-between;
  background-color: #EBEBEB;

}

.slider{
  color: #E63976;
}
.table-text{
  font-size: 20px;
}
.table-cell-text{
  font-size: 16px;
  font-weight: 'bold'
}
.data-point{
  font-size: 25px;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 800px) {
  .input-container{
    flex-direction: column;
  }
  .table-text{
    font-size: .5em;
  }
  .table-cell-text{
    font-size: .4em;
  }
  .data-point{
    font-size: 1em;
  }
}