.App{

}
.content{
 display: flex;
 flex-direction: row;
 margin: 20px;
 padding: 20px;
}
.navbar{
  background-color: black;
  border: solid red 2px
}
.toolbar{
width: auto;
/* display:flex;
flex-direction: row;
justify-content:flex-start; */
border: solid red 2px
}
.logoContainer:{
  border: solid red 2px

}
.logo{
  width: 50%;
  border: solid red 2px
  
}
.title{
    border: solid red 2px;
}
.radio{
  background-color: black;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.slider{
  color: #E63976;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
