.App{

}
.content{
 display: flex;
 flex-direction: column;
 margin: 0.5vw;
}
.navbar{
  background-color: black;
  
  width: 100%
}
.toolbar{
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content:space-between;

}
.navbar-item{
  align-items: center;
  align-content: center;
 
}
.toolbar{
width: auto;
/* display:flex;
flex-direction: row;
justify-content:flex-start; */
}
.logoContainer{
}
.logo{
  height: 100%;
  width: auto;
  
}
.inst{
  text-decoration: none;
  color: white;
  text-align: right;
}
.inst-cont{
 text-align: right;
}
.title{
  text-align: center;
}
.radio{
  background-color: black;
}
.input-container{
  display: flex;
  justify-content: space-between;
  background-color: #EBEBEB;
}

.input-subcontainer {
  width: 30%;
  height: auto;
}

.slider{
  color: #E63976;
}
.table-text{
  font-size: 20px;
}
.table-cell-text{
  font-size: 16px;
  font-weight: 'bold'
}
.data-point{
  font-size: 25px;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 800px) {
  .input-container{
    flex-direction: column;
  }
  .input-subcontainer {
    width: 100%;
    height: auto;
  }
  .table-text{
    font-size: .5em;
  }
  .table-cell-text{
    font-size: .4em;
  }
  .data-point{
    font-size: 1em;
  }
  .toolbar{
    display: flex;
    flex-direction: column;
  }
 
}